.allform {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    color: #000000;
    font-size: 14px;
    background: #F5D7BF;
    width: 35%; /* устанавливаем ширину элемента */
    padding: 20px; /* устанавливаем внутренние отступы элемента */
    border: 2px solid #000000; /* устанавливаем границы элемента */
}

input {
    background-color: #ECE9E0;
}
option {
    background-color: #ECE9E0;
}

label{
    font-weight:700;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #ECE9E0;
    color: #000000;
    border: 16px solid #ECE9E0;
    border-radius: 20px;
}

th {
    font-size: 14px;
    padding: 10px;
}

td {
    background: #F5D7BF;
    padding: 10px;
    font-size: 14px;
}

.mainstyle {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin-top: 42px;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

/*| Navigation |*/

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.1);
}

    nav ul {
        list-style: none;
        position: relative;
        float: right;
        margin-right: 100px;
        display: inline-table;
    }

        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li:hover {
                background: rgba(0,0,0,.15);
            }

                nav ul li:hover > ul {
                    display: block;
                }

        nav ul li {
            float: left;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }

            nav ul li a {
                display: block;
                padding: 10px 10px;
                color: #222;
                font-size: .9em;
                letter-spacing: 1px;
                text-decoration: none;
                text-transform: uppercase;
            }

        nav ul ul {
            display: none;
            background: #fff;
            position: absolute;
            top: 100%;
            box-shadow: -3px 3px 10px -2px rgba(0,0,0,.1);
            border: 1px solid rgba(0,0,0,.1);
        }

            nav ul ul li {
                float: none;
                position: relative;
            }

                nav ul ul li a {
                    padding: 15px 30px;
                    border-bottom: 1px solid rgba(0,0,0,.05);
                }

            nav ul ul ul {
                position: absolute;
                left: 100%;
                top: 0;
            }

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}
/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative; /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 20px; /* Обязательно задаем ширину */
    height: 20px; /* Обязательно задаем высоту */
    border: 2px solid #ccc;
    border-radius: 3px;
}
/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}
/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked + .checkbox-custom::before {
    content: ""; /* Добавляем наш псевдоэлемент */
    display: block; /* Делаем его блочным элементом */
    position: absolute; /* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #413548; /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    border-radius: 2px;
}