.left {
    width: calc(20% - 15px);
    float: left;
    margin-right: 15px;
    margin-top: 15px;
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
    background: #EEF1F5;
    border: 1px solid #C1D3E8;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: .3s;
    border-radius: 3px;
    height: 400px;
}
    .left:hover {
        background: #CBD8E8;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
.category {
    cursor: pointer;
    border: 1px solid #C1D3E8;
    width: 100px;
}
    .category:hover {
        background: #CBD8E8;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    .rub {
        display: inline-block;
        font-size: 24px;
        line-height: 7px;
        border-bottom: 1px solid #000000;
        width: 0.4em;
    }

#main-form {
    transition: .3s;
    width: 960px;
    margin-left: calc(50% - 480px);
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
input[type=button] {
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 14px;
    background: #A4B9D3;
    border: none;
    border-color: #365D8A;
    color: black;
    cursor: pointer;
    transition: .3s;
}

    input[type=button]:hover {
        background: #B9C8FF;
    }
.count_field {
    width: 30px;
}