@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список пунктов меню</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <link href="~/Content/Style/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/Style/js/jquery-ui.js"></script>
</head>
<body>
    <div id="main-form">
        <div class="navigation">
            <table style="width: 100%; border: 0px" border="1">
                <tr>
                    <td class="menu-item"><a href="../Admin/Home" class="menu_text">О точке питания</a></td>
                    <td class="menu-item"><a href="../Admin/OrdersPage" class="menu_text">Заказы</a></td>
                    <td class="menu-item"><a href="../Admin/MenuList" class="menu_text">Меню</a></td>
                    <td class="menu-item"><a href="../Admin/PersonalAccount" class="menu_text">Личный кабинет</a></td>
                    <td class="menu-item"><a href="../Admin/ListUsers" class="menu_text">Настройка прав пользователей</a></td>
                    <td class="menu-item-exit"><input type="button" value="Выйти" id="exit" class="menu_text" /></td>
                </tr>
            </table>
        </div>
        <br />
        <div class="mainstyle">
            @if (ViewBag.isError)
    {
        <p style="font-size: 17px;">Данное меню не существует</p>
            }
            else
            {
                if (ViewBag.Token == 1)
                {
        <h2>Список пунктов меню</h2>
        <p>У вас нет доступа к этой странице</p>
                }
                else
                {
        <a href="../Admin/ListMenuItems?MenuId=@ViewBag.MenuId" class="link-but" style="float: right; width: 190px">Добавить пункт меню</a>
        <a href="../Admin/MenuList" class="link-but" style="float: left; width: 220px">Вернуться к списку меню</a>
        <br clear="all">
        <br />
        <h2>Список пунктов меню</h2>
        <br />

                    if (ViewBag.isMI)
                    {
        <div id="items">
            <p style="font-size: 17px;">В данном меню пока нет товаров</p>
        </div>
                    }
                    else
                    {
        <div id="items">
            <table border="1" style="border-color: #BFB29D">
                <tr>
                    <th style="width: 10%">Изображение</th>
                    <th style="width: 20%">Название</th>
                    <th style="width: 50%">Состав</th>
                    <th style="width: 10%">Категория</th>
                    <th style="width: 10%">Цена</th>
                </tr>
                @foreach (var menuItem in ViewBag.MenuItems)
                {
            <tr value=@menuItem.Id>
                <td><img src="~/Content/Style/Files/@menuItem.Picture" width="100" height="100" alt="Изображение не добавлено"></td>
                <td>@menuItem.Name</td>
                <td>@menuItem.Ingredients</td>
                <td>@menuItem.Category.Name</td>
                <td>@menuItem.Price</td>
                <td class="more-inf-td"><a href="../Admin/ChangeMenuItem?MenuItemId=@menuItem.Id&MenuId=@ViewBag.MenuId" class="more-inf">Редактировать</a></td>
                <td class="remove-menu-item-td"><input type="button" value="Удалить" class="remove-menu-item" /></td>
            </tr>
                }
            </table>
        </div>
                    }
        <script>
            $('.menu-item-exit').on('click', function () {
                $(this).children('input')[0].click();
            });
            $("#exit").on("click", function (event) {
                $.ajax({
                    url: "../api/SignINUP",
                    type: "GET",
                    dataType: "text",
                    success: function () {
                        window.location = '../Authorization/Enter';
                    }
                })
                event.stopPropagation();
            })
            $('.menu-item').on('click', function () {
                $(this).children('a')[0].click();
            });
            $('.more-inf-td').on('click', function () {
                $(this).children('a')[0].click();
            });
            $('.remove-menu-item-td').on('click', function () {
                $(this).children('input')[0].click();
            });
        $(".remove-menu-item").on("click", function (event) {
            var button = $(this);
            var str = button.parent().parent();
            $.ajax({
                url: "../api/Values?id=" + str.attr("value")+"&MenuId=@ViewBag.MenuId",
                type: "POST",
                dataType: "json",
                success: function (json) {
                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);
                    str.remove();
                    if (json_parse == "false") {
                        $('#items').empty();
                        var block = '<p style="font-size: 17px;">В данном меню пока нет товаров</p>';
                        document.getElementById('items').innerHTML += block;
                    }
                }
            })
            event.stopPropagation();
        })
        </script>
                }

            }
        </div>
    </div>
    <script>
        $('.menu-item').on('click', function () {
            $(this).children('a')[0].click();
        });
    </script>
</body>
</html>
