
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование меню</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div class="mainstyle">
        <br />
        <a href="../Admin/MenuList?UserId=@ViewBag.UserID" class="but">Вернуться к списку меню</a>
        <br />
        <br />
    </div>
    <div class="allform">
        <form method="post" action="./ChMenu?UserId=@ViewBag.UserID&MenuId=@ViewBag.Menu.Id" enctype="multipart/form-data">
            <h2>Редактирование меню</h2>
            <p>Введите название меню:</p>
            <input type="text" name="Name" value="@ViewBag.Menu.Name" required />
            <br />
            <br />
            <p>Введите описание меню:</p>
            <input type="text" name="Description" value="@ViewBag.Menu.Description" />
            <br />
            <br />
            <label style="font-weight:500">
                <input class="checkbox" type="checkbox" name="UseThisMenu" value="true">
                <span class="checkbox-custom"></span>
                <span class="label">Выбрать данное меню основным</span>
            </label>
            <br />
            <br />
            <p>Текущее изображение:</p>
            <img src="~/Content/Style/Files/@ViewBag.Menu.Picture" width="100" height="100" alt="Изображение не добавлено">
            <p>Загрузить новое изображение:</p>
            <input type="file" name="upload" accept="image/jpeg,image/png">
            <br />
            <br />
            <input type="submit" class="but" />
        </form>
        <script>
            $(".but").button();
        </script>
    </div>
</body>
</html>
