
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование меню</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="main-form">
        @if (ViewBag.Token == 1)
        {
        <h2>Редактирование меню</h2>
        <p>У вас нет доступа к этой странице</p>
        }
        else
        {
        <div class="allform">
            <form method="post" action="./ChMenu?MenuId=@ViewBag.Menu.Id" enctype="multipart/form-data">
                <h2>Редактирование меню</h2>
                <br />
                <p>Введите название меню:</p>
                <input type="text" name="Name" value="@ViewBag.Menu.Name" class="form-input" required />
                <br />
                <br />
                <p>Введите описание меню:</p>
                <input type="text" name="Description" value="@ViewBag.Menu.Description" class="form-input" />
                <br />
                <br />
                <label style="font-weight:500">
                    <input class="checkbox" type="checkbox" name="UseThisMenu" value="true">
                    <span class="checkbox-custom"></span>
                    <span class="label">Выбрать данное меню основным</span>
                </label>
                <br />
                <br />
                <p>Текущее изображение:</p>
                <img src="~/Content/Style/Files/@ViewBag.Menu.Picture" width="100" height="100" alt="Изображение не добавлено">
                <p>Загрузить новое изображение:</p>
                <input type="file" name="upload" accept="image/jpeg,image/png" class="form-input" style="height: 38px">
                <br />
                <br />
                <a href="../Admin/MenuList" class="link-but" style="width:210px; float: right">Вернуться к списку меню</a>
                <input type="submit" class="link-but" />
            </form>
        </div>
        }
    </div>
</body>
</html>
