
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование меню</title>
</head>
<body>
    <div>
        <a href="../Admin/MenuList?UserId=@ViewBag.UserID">Вернуться к списку меню</a>
        <br />
        <form method="post" action="./ChMenu?UserId=@ViewBag.UserID&MenuId=@ViewBag.Menu.Id" style="background: #ccc; border: 1px solid black; padding: 20px;">
            <p>Введите название меню:</p>
            <input type="text" name="Name" value="@ViewBag.Menu.Name" required />
            <br />
            <br />
            <p>Введите описание меню:</p>
            <input type="text" name="Description" value="@ViewBag.Menu.Description" />
            <br />
            <br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
