
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/Style/css/pushy.css">
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>О точке питания</title>
</head>
<body>
    <div>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="../Admin/Home">О точке питания</a></li>
                    <li class="pushy-link"><a href="../Admin/MenuList">Меню</a></li>
                    <li class="pushy-link"><a href="../Admin/PersonalAccount">Личный кабинет</a></li>
                </ul>
            </div>
        </nav>

    <!--Content -->
        <div id="container">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776</button>
        </div>
        <div>
            <p>Адрес точки: </p>
            <p>Телефон: </p>
            <p>E-mail: </p>
            <p>Контактное лицо: </p>
            <br />
            <p>Количество блюд/интервал времени: </p>
        </div>
    </div>
    <script src="~/Content/Style/js/pushy.min.js"></script>
</body>
</html>
