
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListMenuItems</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
    <div>
        <form method="post" action="./Admin" style="background: #ccc; border: 1px solid black; padding: 20px;">
            <input type="hidden" value="@ViewBag.MenuId" name="MenuId" />
            <p>Введите название блюда:</p>
            <input type="text" name="Name" placeholder="Name" />
            <br />
            <br />
            <p>Введите состав:</p>
            <input type="text" name="Ingredients" placeholder="Ingredients" />
            <br />
            <br />
            <p>Введите цену:</p>
            <input type="text" name="Price" placeholder="Price" />
            <br />
            <br />
            <input type="submit" />
        </form>
    </div>
</body>
</html>
