
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListMenuItems</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
</head>
<body>
    <a href="../Admin/AddMenuItemForm?MenuId=@ViewBag.MenuId&UserId=@ViewBag.UserID">Вернуться к списку блюд</a>
    <br />
    <div>
        <form method="post" action="./NewMenuItem?MenuId=@ViewBag.MenuId&UserId=@ViewBag.UserID" style="background: #ccc; border: 1px solid black; padding: 20px;">
            <p>Введите название блюда:</p>
            <input type="text" name="Name" placeholder="Name" required />
            <br />
            <br />
            <p>Введите состав:</p>
            <input type="text" name="Ingredients" placeholder="Ingredients" />
            <br />
            <br />
            <p>Выберите категорию:</p> 
            <select id="category" name="Category" required>
                @foreach (var c in ViewBag.Category)
        {
                <option>@c</option>
        }   
            </select>
            <br />
            <br />
            <p>Введите цену:</p>
            <input type="number" name="Price" placeholder="Price" required />
            <br />
            <br />
            <input type="submit" />
        </form>

        <script>
            $("#category").selectmenu();
        </script>
    </div>
</body>
</html>
