
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../Content/Style/css/pushy.css">
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>Меню</title>
</head>
<body>
    <div>
        <!-- Pushy Menu -->
        <nav class="pushy pushy-left">
            <div class="pushy-content">
                <ul>
                    <li class="pushy-link"><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                    <li class="pushy-link"><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                    <li class="pushy-link"><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                </ul>
            </div>
        </nav>

        <!-- Your Content -->
        <div id="container">
            <!-- Menu Button -->
            <button class="menu-btn">&#9776</button>
        </div>
    </div>
    <div>
        <a href="../Admin/AddNewMenu?UserId=@ViewBag.UserID">Добавить меню</a>
        <br />
        <br />
        <p>В качестве основного меню выбрано: @ViewBag.NameMenu</p>
        <table style="width: 100%; border: 1px solid gray" border="1">
            <tr>
                <th style="width: 30%">Название</th>
                <th style="width: 60%">Описание</th>
            </tr>
            @foreach (var menu in ViewBag.Menues)
            {
            <tr value=@menu.Id>
                <td><a href="../Admin/AddMenuItemForm?MenuId=@menu.Id&UserId=@ViewBag.UserID">@menu.Name</a></td>
                <td>@menu.Description</td>
                <td><a href="../Admin/ChangeMenu?UserId=@ViewBag.UserID&MenuId=@menu.Id">Редактировать</a></td>
                <td><input type="button" value="Удалить" class="remove-menu" /></td>
            </tr>
            }
        </table>
        <script>
            $(".remove-menu").on("click", function () {
                var button = $(this);
                var str = button.parent().parent();
                $.ajax({
                    url: "../Admin/RemoveMenu?id=" + str.attr("value"),
                    type: "POST",
                    dataType: "text",
                    success: function () {
                        str.remove();
                    }
                })
            })
        </script>
    </div>

    <script src="~/Content/Style/js/pushy.min.js"></script>
</body>
</html>
