    
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="~/Content/Style/js/jquery-ui.js"></script>
    <link rel="stylesheet" href="~/Content/Style/css/jquery-ui.css" />
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
    <title>Список меню</title>
</head>
<body>
    <div>
        <nav role='navigation'>
            <ul>
                <li><a href="../Admin/Home?UserId=@ViewBag.UserID">О точке питания</a></li>
                <li><a href="../Admin/MenuList?UserId=@ViewBag.UserID">Меню</a></li>
                <li><a href="../Admin/PersonalAccount?UserId=@ViewBag.UserID">Личный кабинет</a></li>
                <li><a href="../Admin/ListUsers?UserId=@ViewBag.UserID">Настройка прав пользователей</a></li>
            </ul>
        </nav>
    </div>
    <div class="mainstyle">
        <h2>Список меню</h2>
        <br />
        <a href="../Admin/AddNewMenu?UserId=@ViewBag.UserID" class="but">Добавить меню</a>
        <br />
        <br />
        <p id="main_m"><label>В качестве основного меню выбрано: </label>@ViewBag.NameMenu</p>
        <table style="width: 95%; border: 1px solid gray" border="1">
            <tr>
                <th style="width: 20%">Изображение</th>
                <th style="width: 30%">Название</th>
                <th style="width: 50%">Описание</th>
            </tr>
            @foreach (var menu in ViewBag.Menues)
        {
            <tr value=@menu.Id>
                <td><img src="~/Content/Style/Files/@menu.Picture" width="100" height="100" alt="Изображение не добавлено"></td>
                <td><a href="../Admin/AddMenuItemForm?MenuId=@menu.Id&UserId=@ViewBag.UserID">@menu.Name</a></td>
                <td>@menu.Description</td>
                <td><a href="../Admin/ChangeMenu?UserId=@ViewBag.UserID&MenuId=@menu.Id" class="but">Редактировать</a></td>
                <td><input type="button" value="Удалить" class="remove-menu" /></td>
            </tr>
    }
        </table>
        <script>
            $(".but").button();
            $(".remove-menu").button();
            $(".remove-menu").on("click", function () {
                var button = $(this);
                var str = button.parent().parent();
                $.ajax({
                    url: "../Admin/RemoveMenu?id=" + str.attr("value"),
                    type: "POST",
                    dataType: "text",
                    success: function () {
                        str.remove();
                        $("#main_m").text("В качестве основного меню выбрано: Нет доступных меню");
                    }
                })
            })
        </script>
    </div>
</body>
</html>
