
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>MenuList</title>
</head>
<body>
    <div> 
        @foreach(var menu in ViewBag.Menues)
        {
            <a href="../Admin/AddMenuItemForm?menuId=@menu.Id">@menu.Name</a>
            <br />
        }
    </div>
</body>
</html>
