
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Настройка точки питания</title>
</head>
<body>
    <div>
        <div>
            <form method="post" action="./SetDR">
                <p>Адрес точки: </p>
                <input type="text" name="Adress">
                <p>Телефон: </p>
                <input type="tel" name="Phone">
                <p>E-mail: </p>
                <input type="email" name="Email">
                <p>Контактное лицо: </p>
                <input type="text"name="Login">
                <br />
                <p>Количество блюд/интервал времени: </p>
                <input type="text" name="Dishes">
                <p>/</p>
                <input type="text" name="Interval">
                <br />
                <input type="submit" value="Сохранить">
            </form>
        </div>
    </div>
</body>
</html>
