
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Style/css/menuPage.css" rel="stylesheet" />
    <title>Меню</title>
</head>
<body>
    <div>
        <table style="width: 100%; border: 0px" border="1">
            <tr>
                @foreach (var category in ViewBag.Category)
                {
                    <td><a class="category-filter" id="@category.CategoryMenuItemID">@category.Name</a></td>
                }
            </tr>
        </table>
    </div>
    <div id="div" class="divstyle">

    </div>
    <script>
        $(".category-filter").on("click", function () {
            var id = $(this).attr("id")
            $.ajax({
                url: "../api/filterMenuItems",
                data: "id=" + id,
                type: "GET",
                dataType: "json",
                success: function (json) {
                    
                    //Очищаем
                    $("#div").empty();

                    //Преобразовываем JSON
                    var json_parse = JSON.parse(json);
                    for (var i = 0; i < json_parse.length; i++) {
                        var block = '<div value="' + json_parse[i]["Id"] + '" class="left"><p>'
                            + json_parse[i]["Name"] + '</p><p>' + json_parse[i]["Price"]
                            + '<span class="rub">Р</span><div class="minus">-</div>'
                            + '<input type = "text" id="count_field_' + json_parse[i]["Id"] +
                            '" value = "1" class="count_field"><div class="plus"> +</div><p>Ингредиенты: </p>'
                            + json_parse[i]["Ingredients"] + '</br><input type="button" value="Добавить в корзину" class="add-to-cart"/>'
                            + '</div>';

                        //Добавляем в div
                        document.getElementById('div').innerHTML += block;
                    }
                    $('.minus').click(function () {
                        var $input = $(this).parent().find('input.count_field');
                        var count = parseInt($input.val()) - 1;
                        count = count < 1 ? 1 : count;
                        $input.val(count);
                        $input.change();
                        return false;
                    });
                    $('.plus').click(function () {
                        var $input = $(this).parent().find('input.count_field');
                        $input.val(parseInt($input.val()) + 1);
                        $input.change();
                        return false;
                    });
                    $('.add-to-cart').on("click", function () {
                        var id = $(this).parent().attr('value');
                        var a = $('#count_field_' + id).val();
                        var s = "../api/filterMenuItems?id_product=" + id + "&amount=" + a;
                        $.ajax({
                            url: s,
                            type: "POST",
                            dataType: "text",
                            success: function (text) {
                                console.log(text);
                            }
                        })
                    })
                }
            })
        })
    </script>
    <script>
        $(document).ready(function () {
            $('.minus').click(function () {
                var $input = $(this).parent().find('input');
                var count = parseInt($input.val()) - 1;
                count = count < 1 ? 1 : count;
                $input.val(count);
                $input.change();
                return false;
            });
            $('.plus').click(function () {
                var $input = $(this).parent().find('input');
                $input.val(parseInt($input.val()) + 1);
                $input.change();
                return false;
            });
        });
    </script>
</body>
</html>
