
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация панели администратора</title>
    <link href="~/Content/Style/css/mainstyle.css" rel="stylesheet" />
</head>
<body>
    <div id="main-form">
        <form method="post" action="./Authorize_Admin">
            @if (ViewBag.isError)
    {
        <script>alert("Неправильная пара логин-пароль или у вас недостаточно прав");</script>
}
            <a href="../Registration/SignUp" class="link-but" style="float:right; width: 115px">Регистрация</a>
            <h2>Авторизация</h2>
            <br />
            <p style="color: #000E1F; font-weight:700">Введите логин:</p>
            <input type="text" name="Login" placeholder="Логин" class="form-input" required />
            <br />
            <br />
            <p style="color: #000E1F; font-weight:700">Введите пароль:</p>
            <input type="password" name="Password" placeholder="Пароль" class="form-input" required />
            <br />
            <br />
            <input type="submit" class="link-but" />
        </form>
    </div>
</body>
</html>
